<!DOCTYPE html>
<html>
<head>
	<title>Все статьи на сайте</title>
	<!-- Подключаем Bootstrap CSS с CDN-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">body{
    background: rgb(52, 56, 61);
  }
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" >TLD.RU</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Главная страница</a></li>
	      <li><a href="/create-article">Опубликовать статью</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	{% if current_user.is_authenticated is true %}
	    		<li><a href="/profile/tilda"><span class="glyphicon glyphicon-user"></span>Профиль</a></li>
	    	{% else %}
		      <li><a href="/register"><span class="glyphicon glyphicon-user"></span>Регистрация</a></li>
		      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Вход</a></li>
		    {% endif %}
	    </ul>
	  </div>
</nav>

</nav>
<div class="container mt-5"></div>
	<h1>Все статьи на сайте</h1>

	{% for el in articles %}
	<div class="alert alert-info" id="alert">
		<h2>{{ el.title }}</h2>
		<p>{{ el.intro | safe}}</p>
		<p>Дата : {{ el.date}}</p>
		<a href="/post/{{ el.id }}" class="btn btn-warning">Дальше</a>
	</div>
	{% endfor %}
</div>
</body>
</html>